server:
  http_listen_port: 3100
  grpc_listen_port: 9096

common:
  path: /loki
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory
  storage:
    filesystem:
      : /loki/chunks
      rules_dchunks_directoryirectory: /loki/rules

schema_config:
  configs:
    - from: 2024-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

limits_config:
  allow_structured_metadata: true
  ingestion_rate_mb: 10
  ingestion_burst_size_mb: 20
  reject_old_samples: true
  reject_old_samples_max_age: 168h
  max_streams_per_user: 100000

table_manager:
  retention_deletes_enabled: true
  retention_period: 168h

ruler:
  alertmanager_url: http://localhost:9093

compactor:
  working_directory: /loki/boltdb-shipper-compactor
  shared_store: filesystem

analytics:
  reporting_enabled: false
